body {
    height: 100vh;
    overflow: hidden;
    background-color: rgb(39, 37, 37);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

text {
    fill: rgb(200, 202, 205);
}
/* svg {
    background-color: blanchedalmond;
} */

#title {
    font-size: 2.3em;
    font-family: poppins,sans-serif;
}

#subtitle {
    font-size: 1.4em;
    font-family: "Poppins",sans-serif;
}

#text-y {
    font-family: "Poppins",sans-serif;
    font-size: 1.2rem;
    font-weight: 490;
}